<div class="page-container">
    <h1 class="page-title">Candidatos postulados a la Oferta
    </h1>
    <div style="margin-top: 20px;">
        <button class="add-btn" (click)="editarOferta()">Editar esta
            oferta</button>
    </div>
    <br>
    <table class="tabla-ofertas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos">
                <td>{{ candidato.name }}</td>
                <td>{{ candidato.email }}</td>
                <td>{{ candidato.phonenumber }}</td>
            </tr>
        </tbody>
    </table>

</div>
