<div class="page-container">
    <h1 class="page-title">Candidatos postulados a la oferta #{{ ofertaId
        }}</h1>
    <div style="margin-top: 20px;">
        <button class="add-btn" (click)="editarOferta()">Editar esta
            oferta</button>
    </div>
 <br>
<table class="tabla-ofertas">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha de inscripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidato of candidatos">
      <td>{{ candidato.name }}</td>
      <td>{{ candidato.email }}</td>
      <td>{{ candidato.inscriptiondate | date: 'dd-MM-yyyy' }}</td>
    </tr>
  </tbody>
</table>

</div>
