<div class="page-container">
  <h1 class="page-title">Publicar nueva oferta</h1>

  <form class="oferta-form" (ngSubmit)="publicarOferta()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        [(ngModel)]="oferta.title"
        name="titulo"
        id="titulo"
        placeholder="Título"
        required
      />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        [(ngModel)]="oferta.description"
        name="descripcion"
        id="descripcion"
        placeholder="Descripción"
      ></textarea>
    </div>

    <button mat-flat-button color="warn" type="submit">Publicar Oferta</button>
  </form>
</div>
