<div class="page-container">
  <h1 class="page-title">{{ modoEditar ? 'Editar oferta' : 'Publicar nueva oferta' }}</h1>

  <form class="oferta-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        [(ngModel)]="oferta.title"
        name="titulo"
        id="titulo"
        placeholder="Título"
        required
      />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        [(ngModel)]="oferta.description"
        name="descripcion"
        id="descripcion"
        placeholder="Descripción"
        required
      ></textarea>
    </div>

    <!-- Campo fecha solo visible en edición 
    <div class="form-group" *ngIf="modoEditar">
      <label for="fecha">Fecha de publicación</label>
      <input
        type="date"
        [(ngModel)]="oferta.publicationdate"
        name="fecha"
        id="fecha"
        required
      />
    </div>-->

    <button
  mat-flat-button
  color="warn"
  type="submit"
  [disabled]="
    !oferta.title || !oferta.title.trim() ||
    !oferta.description || !oferta.description.trim()
  "
>
  Guardar Oferta
</button>

  </form>
</div>
