<nav>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="logo_container"><img src="../assets/img/logo-clustertic.png" alt="Cluster Empleo" class="logo"></span>
     <span><p>Usuario: {{usuario}} {{username}}</p></span>
      <span class="example-spacer"></span>
      <button  *ngIf="router.url !== '/lista-ofertas'" mat-raised-button color="warn" (click)="irAListaOfertas()">Ver Ofertas</button>
      <button  *ngIf="router.url !== '/publicar-oferta'" mat-raised-button color="warn" (click)="irAPublicarOferta()">Publicar</button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>