.mostrar-ofertas-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.page-title {
  font-size: 28px;
  color: #f44336; /* rojo consistente */
  text-align: center;
  margin-bottom: 30px;
}

.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

.oferta-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* asegura el empuje */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-left: 6px solid #f44336;
  transition: transform 0.2s;
  min-height: 280px; /* opcional: asegura altura mínima común */
}


.oferta-card:hover {
  transform: scale(1.02);
}

.oferta-titulo{
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.oferta-descripcion {
  color: #555;
  margin-bottom: 10px;
}

.oferta-fecha {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.estado-tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.estado-tag.activo {
  background-color: #4caf50;
}

.estado-tag.inactivo {
  background-color: #f44336
}

mat-icon, p.oferta-email {
  margin-bottom: -0.2rem;
  color: #777;
}

p.oferta-empresa {
  color: #333;
  font-weight: 500;
}

.apButton {
  width: 50%;
  font-size: 1rem;
  font-weight: 500;
  height: 45px;
  background-color: #ff4400;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* lo alinea a la derecha */
  margin-top: auto;     /* lo empuja al fondo de la tarjeta */
}

.apButton:hover {
  background-color: #e65100;
}
