 <div class="perfil-container" *ngIf="usuario">
  <h1 class="perfil-title">Perfil profesional</h1>

  <div class="perfil-header">
    <div class="perfil-foto-nombre">
      <div class="perfil-avatar">
        <mat-icon>person</mat-icon>
      </div>
      <div class="perfil-info">
        <h2>{{ usuario.name }} {{usuario.surname1}} {{usuario.surname2}}</h2>
        <p class="perfil-subtitulo">{{ usuario.degree }}</p>
      </div>

      <div class="perfil-acciones">
        <button mat-raised-button color="primary"
          (click)="editarPerfil()">Editar
          perfil</button>
        <button mat-raised-button color="primary" (click)="verPostulaciones()"
          style="margin-left: 10px;">
          Mis Postulaciones
        </button>
      </div>

    </div>

  </div>

  <mat-tab-group>
    <!-- TAB 1 -->
    <mat-tab label="Sobre mi">
      <div class="perfil-seccion">
        <div class="perfil-col">
          <p><strong>Título profesional:</strong> {{ usuario.degree }}</p>
          <p><strong>Experiencia:</strong> {{ usuario.experience }} año{{
            usuario.experience === 1 ? '' : 's' }}</p>

          <p><strong>Modalidad preferida:</strong> {{ usuario.modality }}</p>
          <p><strong>Email:</strong> {{ usuario.email }}</p>
        </div>
        <div class="perfil-col">
          <p><strong>Presentación:</strong></p>
          <p>{{ usuario.presentation }}</p>
        </div>
        <div class="perfil-links">
          <a *ngIf="usuario.linkedin" [href]="usuario.linkedin"
            target="_blank">
            <mat-icon>link</mat-icon> LinkedIn
          </a>
          <a *ngIf="usuario.github" [href]="usuario.github" target="_blank">
            <mat-icon>code</mat-icon> GitHub
          </a>
          <a *ngIf="usuario.phonenumber" href="tel:{{ usuario.phonenumber }}">
            <mat-icon>phone</mat-icon> {{ usuario.phonenumber }}
          </a>
          <br>
          <br>
        </div>
      </div>
    </mat-tab>

    <div *ngIf="!usuario" class="perfil-loading">
      <p>Cargando perfil...</p>
    </div>
