<app-nav></app-nav>

<div class="page-container">
    <h1 class="page-title">Ofertas de empleo</h1>

    <div class="tabla-container">
        <table class="tabla-ofertas">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oferta of offerList">
                    <td>{{ oferta.title }}</td>
                    <td>{{ oferta.description }}</td>
                    <td>{{ oferta.publicationDate | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <span
                            class="estado-circle"
                            [ngClass]="oferta.active ? 'activo' : 'inactivo'"
                            matTooltip="{{ oferta.active ? 'Activa' : 'Inactiva' }}">
                        </span>
                    </td>
                    <td>
                        <button mat-icon-button color="primary"><mat-icon>visibility</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="toggleEstado(oferta)">
                            <mat-icon *ngIf="oferta.active">toggle_on</mat-icon>
                            <mat-icon *ngIf="!oferta.active">toggle_off</mat-icon>
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>
