<div class="lista-empresas-container">
  <h1 class="page-title">Empresas Registradas</h1>

  <!-- Botón para publicar nueva oferta -->
  <div class="boton-publicar" style="margin-bottom: 15px;">
    <button class="add-btn" (click)="irANuevaEmpresa()">
      Crear nueva Empresa
    </button>
  </div>

  <div class="tabla-wrapper">
    <table class="tabla-empresas">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Email</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enterprise of enterprisesList"
          (click)="editarEmpresa(enterprise.id)" class="fila-clickable">
          <td>{{ enterprise.name }}</td>
          <td>{{ enterprise.address }}</td>
          <td>{{ enterprise.email }}</td>
          <td>{{ enterprise.phonenumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
