<app-nav></app-nav>
<div class="container">
    <!-- crear-oferta.component.html -->
<form (ngSubmit)="publicarOferta()">
  <input [(ngModel)]="oferta.titulo" name="titulo" placeholder="Título" required />
  <textarea [(ngModel)]="oferta.descripcion" name="descripcion" placeholder="Descripción"></textarea>
  <button type="submit">Publicar Oferta</button>
</form>


    <!--<form [formGroup]="oferta" (ngSubmit)="onSubmit()">
        <h1 class="title">Publicar oferta</h1>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Titulo de la oferta</mat-label>
                <input matInput formControlName="text" type="text" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Detalles de la oferta</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <mat-card-actions>
            <button mat-flat-button color="warn" type="submit">Publicar</button>
        </mat-card-actions>
    </form>-->

</div>