<div class="page-container">
  <!-- Barra de búsqueda -->
  <div class="encabezado-centrado">
<h1 class="page-title">   Ofertas de empleo</h1>

    <div class="buscador-con-icono">
      <mat-icon class="icono-lupa">search</mat-icon>
      <input
        type="text"
        class="input-buscador-empresas"
        placeholder="Buscar por título o descripción..."
        [(ngModel)]="textoBusqueda"
        (input)="filtrarOfertas()" />
    </div>
  </div>
  
  <!-- Botón nueva oferta -->
  <div class="boton-publicar" style="margin-bottom: 15px;">
    <button class="add-btn" mat-flat-button color="warn"
      (click)="irANuevaOferta()">Nueva oferta</button>
  </div>

  <!-- Contenedor con altura limitada -->
  <div class="tabla-scroll-container">
    <table mat-table class="tabla-ofertas">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let oferta of ofertasPaginadas"
          (click)="verCandidatos(oferta.id)"
          style="cursor: pointer;">
          <td>{{ oferta.title }}</td>
          <td>{{ oferta.description.length > 100 ? (oferta.description |
            slice:0:100) + '...' : oferta.description }}</td>
          <td class="centrar">{{ oferta.publicationDate | date: 'dd-MM-yyyy'
            }}</td>
          <td class="centrar" (click)="$event.stopPropagation()">
            <button
              mat-icon-button
              [ngClass]="oferta.active ? 'activo' : 'inactivo'"
              (click)="toggleEstado(oferta)">
              <mat-icon>{{ oferta.active ? 'toggle_on' : 'toggle_off'
                }}</mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="ofertasPaginadas.length === 0">
          <td colspan="4" class="sin-resultados">No se encontraron ofertas.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div class="paginacion" *ngIf="totalPaginas > 1">
    <button (click)="cambiarPagina('anterior')" [disabled]="paginaActual === 1">
      Anterior
    </button>
    <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <button (click)="cambiarPagina('siguiente')"
      [disabled]="paginaActual === totalPaginas">
      Siguiente
    </button>
  </div>
  <br>
</div>
