/* HEADER Y FOOTER */
.main-header, .main-footer {
  background-color: #ccc;
  color: #212121;
  font-weight: 500;
  padding: 0.8rem;
  align-items: center;
}

.main-footer {
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}