<br>
<br>
<br>
<div class="page-container">
  <img
    src="../assets/img/logo-clustertic.png"
    alt="Cluster Empleo"
    class="logo clickable"
    (click)="volverAOfertas()" />

  <h1 class="page-title">Registro de Usuario</h1>

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group half">
        <label for="name">Nombre *</label>
        <input id="name" formControlName="name" required placeholder="Nombre" />
      </div>

      <div class="form-group half">
        <label for="surname1">Apellido 1 *</label>
        <input id="surname1" formControlName="surname1" required placeholder="Primer apellido" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group half">
        <label for="surname2">Apellido 2 *</label>
        <input id="surname2" formControlName="surname2" required placeholder="Segundo apellido" />
      </div>

      <div class="form-group half">
        <label for="phonenumber">Teléfono *</label>
        <input id="phonenumber" formControlName="phonenumber" required placeholder="Teléfono" />
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email *</label>
      <input id="email" formControlName="email" type="email" required placeholder="Correo electrónico" />
    </div>

    <div class="user-credentials-group">
      <div class="form-group user-login-group">
        <label for="login">Usuario *</label>
        <input id="login" formControlName="login" required placeholder="Nombre de usuario" />
      </div>

      <div class="form-group user-password-group">
        <label for="password">Contraseña *</label>
        <input id="password" formControlName="password" type="password" required placeholder="Contraseña" />
      </div>
    </div>
    <button mat-flat-button color="warn" type="submit">Registrar</button>
  </form>
</div>
